@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, footer, nav, aside {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #242424;
  background-color: #fcfcfc;
}

.wrapper {
  overflow: hidden;
  /*
	display: grid;
	grid-template-rows: auto 1fr auto;
	*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.container {
  max-width: 1090px;
  padding: 0px 10px;
  margin: 0 auto;
}

.main {
  padding: 80px 0px 0px 0px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 120%;
  margin: 0px 0px 30px 0px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #76ace8;
  z-index: 2;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo-img img {
  max-width: 100%;
  display: block;
}

.header__logo-name {
  position: relative;
  z-index: 3;
  margin: 0px 0px 0px 5px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.header__logo-name span {
  color: #e91212;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0px 0px 0px 40px;
}

> .header__list li:first-child {
  margin: 0px 0px 0px 0px;
}

@media (max-width: 882px) {
  .header__list li {
    margin: 0px 0px 0px 30px;
  }
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  color: #dadada;
  text-transform: uppercase;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  white-space: nowrap;
}

.header__link:hover {
  color: #ffffff;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__container {
    height: 50px;
  }
  .header__logo-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .header__logo-name {
    margin: 0px 0px 0px 5px;
    font-size: 24px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 21px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #18b5a4;
    padding: 70px 10px 0px 10px;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin: 0px 0px 30px 0px;
  }
  .header__link {
    font-size: 32px;
    color: #ffffff;
  }
}

.greeting {
  background: url(../img/greeting/04.jpg) center/cover no-repeat;
}

.greeting__bg-opacity {
  padding: 14% 0px 5% 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.greeting__banner {
  width: 50%;
}

@media (max-width: 1090px) {
  .greeting__banner {
    width: 70%;
    padding: 0px 0px 0px 20px;
  }
}

@media (max-width: 767px) {
  .greeting__banner {
    width: 90%;
  }
}

.greeting__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 767px) {
  .greeting__title {
    font-size: 50px;
    margin: 0px 0px 35px 0px;
  }
}

@media (max-width: 425px) {
  .greeting__title {
    font-size: 40px;
    text-align: center;
  }
}

.greeting__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 140%;
  margin: 0px 0px 40px 0px;
}

@media (max-width: 767px) {
  .greeting__text {
    font-size: 16px;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 425px) {
  .greeting__text {
    font-size: 14px;
    text-align: center;
  }
}

.section2 {
  padding: 80px 0px;
}

@media (max-width: 767px) {
  .section2 {
    padding: 50px 0px;
  }
}

@media (max-width: 425px) {
  .section2 {
    padding: 30px 0px;
  }
}

.section2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .section2__container {
    display: block;
  }
}

.section2__img {
  max-width: 400px;
}

@media (max-width: 767px) {
  .section2__img {
    display: none;
  }
}

.section2__banner {
  max-width: 500px;
  text-align: center;
  margin: 0px 0px 0px 70px;
}

@media (max-width: 767px) {
  .section2__banner {
    max-width: 100%;
    margin: 0px 0px 0px 0px;
  }
}

.section2__title {
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 1px;
}

@media (max-width: 425px) {
  .section2__title {
    font-size: 20px;
  }
}

.section2__text {
  margin: 30px 0px;
  font-size: 16px;
  line-height: 120%;
}

@media (max-width: 425px) {
  .section2__text {
    font-size: 14px;
  }
}

.section2__btn {
  padding: 15px 33px;
  background-color: #ffc31e;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat', serif;
  text-transform: uppercase;
  border: 3px solid #ffc72d;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.section2__btn:hover {
  background-color: #f3ba1e;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.working {
  background-color: #f1f1f1;
  padding: 80px 0px;
}

@media (max-width: 900px) {
  .working {
    padding: 50px 0px;
  }
}

@media (max-width: 425px) {
  .working {
    padding: 30px 0px;
  }
}

.working__title {
  text-align: center;
  margin: 0px 0px 60px 0px;
}

@media (max-width: 900px) {
  .working__title {
    margin: 0px 0px 30px 0px;
  }
}

.working__title-h2 {
  color: #ffc31e;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 120%;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 425px) {
  .working__title-h2 {
    font-size: 20px;
    margin: 0px 0px 20px 0px;
  }
}

.working__title-text {
  font-size: 18px;
  line-height: 120%;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .working__title-text {
    font-size: 16px;
  }
}

.working__items {
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
}

@media (max-width: 1079px) {
  .working__items {
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 919px) {
  .working__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }
}

@media (max-width: 425px) {
  .working__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.working__item {
  background-color: #fcfcfc;
  padding: 15px;
  -ms-grid-rows: 150px auto;
  -ms-grid-columns: 1fr;
      grid-template: 150px auto / 1fr;
  border-radius: 10px;
}

.working__item-img {
  overflow: hidden;
  width: 150px;
  margin: 0 auto;
}

.working__item-img img {
  max-width: 100%;
  display: block;
}

.working__item-title {
  color: #ffc31e;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.working__item-text {
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  display: none;
}

.partners {
  padding: 80px 0px;
}

@media (max-width: 900px) {
  .partners {
    padding: 50px 0px;
  }
}

@media (max-width: 767px) {
  .partners {
    padding: 30px 0px;
  }
}

.partners__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
  color: #ffc31e;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .partners__title {
    font-size: 24px;
    margin: 0px 0px 30px 0px;
  }
}

.partners__slider {
  position: relative;
  padding: 0px 50px;
  min-width: 0;
}

.partners__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 0px 0px;
}

.partners__slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.partners__slider .slick-dots li.slick-active button {
  background-color: #ffc31e;
  width: 12px;
  height: 12px;
}

.partners__slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 100%;
}

.partners__item {
  max-width: 300px;
  text-align: center;
  margin: 0px 10px;
}

.partners__item img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.gallery {
  background-color: #f1f1f1;
  padding: 50px 0px;
}

.gallery__title {
  text-align: center;
  text-transform: uppercase;
  color: #242424;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 120%;
  margin: 0px 0px 30px 0px;
}

.gallery__items {
  gap: 10px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item {
  position: relative;
  padding: 0px 0px 85% 0px;
}

.gallery__item-big {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review {
  padding: 50px 0px;
}

.review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

.review__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0px 30px 0px 0px;
}

.review__item-img img {
  max-width: 100%;
  display: block;
}

.review__btn {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.review__btn::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.footer {
  background-color: #333;
  margin-top: auto;
  padding: 50px 0px;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.footer__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  border-radius: 100%;
  overflow: hidden;
}

.footer__logo-img img {
  max-width: 100%;
  display: block;
}

.footer__logo-name {
  margin: 0px 0px 0px 5px;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.footer__logo-name span {
  color: #e91212;
}

.footer__copy {
  color: #fcfcfc;
  margin: 20px 0px 0px 0px;
}

.footer__copy-link {
  color: #fcfcfc;
}

.footer__number {
  text-align: center;
}

.footer__number-icon {
  width: 50px;
}

.footer__number-text {
  color: #fcfcfc;
}

.footer__number-text a {
  color: #fcfcfc;
}

.footer__address {
  text-align: center;
}

.footer__address-icon {
  width: 50px;
}

.footer__address-text {
  color: #fcfcfc;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social img {
  width: 30px;
  margin: 0px 0px 0px 10px;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .main {
    padding: 50px 0px 0px 0px;
  }
}
