body {
	font-family: 'HelveticaNeueCyr', 'Arial', sans-serif;
	font-weight: 300;
	color: $mainFont;
	background-color: $mainBG;
}

// ===== Оболочка =====
.wrapper {
	overflow: hidden; //* чтоб ничего за экран не вылезло
	
	//* Прижимаем футер к низу grid
	/*
	display: grid;
	grid-template-rows: auto 1fr auto;
	*/
	
	//* Прижимаем футер к низу flex
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.grid {display: grid;}

// ===== Контейнер =====
.container {
	max-width: 1090px;
	padding: 0px 10px;
	margin: 0 auto;
}

// ===== Основной контент =====
.main {
	padding: 80px 0px 0px 0px;
}

.title {
	text-align: center;
	text-transform: uppercase;
	color: $mainFont;
	font-size: 26px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 120%;
}

.button {
	padding: 15px 33px;
	background: linear-gradient(to right,#f31455,#fe0201);
	color: $whiteFont;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 25px;
	transition: all 0.3s ease 0s;

	&:hover {
		background: #e60021;
		transition: all 0.3s ease 0s;
	}
}