// ======= ЦВЕТА =======

// ======= Основной цвет шрифта =======
$mainFont: #0f0f0f;
// ======= Белый цвет шрифта =======
$whiteFont: #ffffff;
// ======= Серый цвет шрифта =======
$greyFont: #a1a1a1;
// ======= Краный цвет шрифта =======
$redFont: #fe0201;

// ======= Основной Цвет фона =======
$mainBG: #fcfcfc;
// ======= Серый цвет фона =======
$greyBG: #f1f1f1;
// ======= Цвет шапки и футера =======
$blackBG: #0f0f0f;

// ======= Основной цвет кнопки =======
// $colorBtn: linear-gradient(to right,#f31455,#fe0201);
