// ======= ЦВЕТА =======

// ======= Основной цвет шрифта =======
$color_font: #242424;
// ======= Основной цвет заголовков =======
$color_title: #ffffff;
// ======= Цвет фона 1 =======
$bg_color1: #fcfcfc;
// ======= Цвет фона 2 =======
$bg_color2: #f1f1f1;
// ======= Основной цвет кнопки =======
$color_btn: #ffc31e;