.greeting {
	background: url(../img/greeting/04.jpg) center/cover no-repeat;
	
	&__bg-opacity {
		padding: 14% 0px 5% 0px;
		background-color: rgba(0, 0, 0, 0.2);
	}

	&__container {
	}

	&__banner {
		width: 50%;

		@media (max-width: 1090px) {
			width: 70%;
			padding: 0px 0px 0px 20px;
		}

		@media (max-width: 767px) {
			width: 90%;
		}
	}

	&__title {
		color: $whiteFont;
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0px 0px 40px 0px;

		@media (max-width: 767px) {
			font-size: 50px;
			margin: 0px 0px 35px 0px;
		}
		
		@media (max-width: 425px) {
			font-size: 40px;
			text-align: center;
		}
	}

	&__text {
		color: $whiteFont;
		font-size: 18px;
		line-height: 140%;
		margin: 0px 0px 40px 0px;

		@media (max-width: 767px) {
			font-size: 16px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 425px) {
			font-size: 14px;
			text-align: center;
		}
	}
}