.partners {
	padding: 80px 0px;

	@media (max-width: 900px) {
		padding: 50px 0px;
	}
	
	@media (max-width: 767px) {
		padding: 30px 0px;
	}

	&__title {
		margin: 0px 0px 50px 0px;

		@media (max-width: 767px) {
			font-size: 24px;
			margin: 0px 0px 30px 0px;
		}
	}

	&__slider {
		position: relative;
		padding: 0px 50px;
		min-width: 0;

		& .slick-dots {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 20px 0px 0px 0px;
			
			li {
				list-style: none;
				margin: 0px 10px;

				// Активная точка
				&.slick-active {

					button {
						background: linear-gradient(to right,#f31455,#fe0201);
						width: 12px;
						height: 12px;
					}
				}

				// Элемент точки
				button {
					font-size: 0;
					width: 10px;
					height: 10px;
					background-color: #333;
					border-radius: 100%;
				}
			}
		}
	}

	&__item {
		max-width: 300px;
		text-align: center;
		margin: 0px 10px;
		overflow: hidden;
		
		img {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: hidden;
		}
	}
}